/*GLOBAL PAGE STYLING*/
body {
    background-color: black;
}
h1 , h2 , h3 , h4, h5, p {
    color: white;
}

/* NAVBAR STYLING */
#navSearchResults {
    max-height: 250px;
    overflow-y: auto;
    display: none;
}
#navSearchResults a {
    cursor: pointer;
}

.navbar {
    background-color: #333333ff;
}
.navbar .navbar-brand,
.navbar .nav-link {
    color: #ffffffff;
}
.navbar .nav-link:hover {
    color: #ff0000d5;
}

/* Search button */
.navbar .btn-primary {
    background-color: #ff0000d5;
    border-color: #ff0000d5;
    color: #ffffffff;
}
.navbar .btn-primary:hover {
    background-color: #cc0000ff;
    border-color: #cc0000ff;
    color: #ffffffff;
}

/* CARD STYLING */
.card {
    background-color: #343a40;
    color: white;
    border: none;
}
.card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
    color: white;
}

/* FORM + LABEL STYLING */
label,
form label {
    color: white;
}

/* Game detail title underline */
.game-title {
    text-decoration: underline;
}

/* MODAL STYLING (Add Game) */
.addgame-modal label {
    color: black !important;
}
.addgame-modal .form-control {
    background-color: #e9ecef;
    color: black;
}

/* CARD BUTTON ALIGNMENT */
.card .btn-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}
